In [ ]:
pip install -r requirements.txt

In [1]:
import pandas as pd
import numpy as np
from review_analyzer import ReviewAnalyzer
from datetime import datetime

# Initialize the analyzer with your data files
analyzer = ReviewAnalyzer(
    google_maps_file="reviews/google/allGoogleReviews_2025-04-05.xlsx",
    trustpilot_file="reviews/trustpilot/allTrustpilotReviews_2025-04-04.xlsx",
    establishment_file="establishments/establishment_base.xlsx"
)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\yigit\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\yigit\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\yigit\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\yigit\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Loading data...
Loaded 15163 Google Maps reviews
Loaded 63 Trustpilot reviews
Loaded 100 establishments
Preprocessing data...
Combined dataset created with 15226 reviews

## 1. Basic Metrics Analysis

In [5]:
# Calculate basic metrics
basic_metrics = analyzer.calculate_basic_metrics()
print("\nBasic Metrics Summary:")
print("-" * 80)
display(basic_metrics[['title', 'total_reviews', 'avg_rating', 'rating_std', 'response_rate', 'avg_response_time']].head(10))

Calculating basic metrics...
Basic metrics calculated for 53 establishments

Basic Metrics Summary:
--------------------------------------------------------------------------------

,title,total_reviews,avg_rating,rating_std,response_rate,avg_response_time
0,Estetistanbul Tıp Merkezi & Saç Ekimi,18,3.944444,1.764760,5.555556,6.000000
1,Self Hair Clinic - Saç Ekimi - Hair Transplant...,9,4.888889,0.333333,44.444444,3.750000
2,Live Hair Clinic İstanbul Saç Ekim Merkezi,2,5.000000,0.000000,50.000000,2.000000
3,Estesie Clinic | İstanbul Medikal Estetik Merk...,76,4.947368,0.277836,22.368421,60.411765
4,Saç ekimi Türkiye,76,4.894737,0.555673,100.000000,12.103448
5,BAC Clinic,76,4.986842,0.114708,100.000000,20.708333
6,Art of Med Clinic - Saç Ekimi & Hair Transplant,85,4.988235,0.108465,94.117647,35.088608
7,Mega Hair Trans Hair Transplant Center Etiler,85,4.188235,1.592349,1.176471,0.000000
8,Elit İstanbul Hair Transplant,98,4.877551,0.596645,12.244898,19.750000
9,Hair Transplant - Holiday Estetic - Best Hair ...,104,4.903846,0.566358,92.307692,37.428571

## 2. Sentiment Analysis

In [6]:
# Calculate sentiment metrics
sentiment_metrics = analyzer.calculate_sentiment_metrics()
print("\nSentiment Analysis Summary:")
print("-" * 80)
display(sentiment_metrics.head(10))

Calculating sentiment metrics...
Sentiment metrics calculated for 53 establishments

Sentiment Analysis Summary:
--------------------------------------------------------------------------------

,placeId,avg_sentiment,sentiment_std,positive_review_pct,negative_review_pct,neutral_review_pct,sentiment_trend
0,ChIJ0c9vBG-2yhQRgLzf-6a4veg,0.541956,0.676635,77.777778,22.222222,0.000000,0.208533
1,ChIJI184CMjHyhQRa8MxkyaZQqc,0.908033,0.083845,100.000000,0.000000,0.000000,0.000000
2,ChIJOcutT1HHyhQREVaU7GyaLhY,0.885650,0.076863,100.000000,0.000000,0.000000,0.000000
3,ChIJrQMnfaijyhQR_cFRj9KRFcA,0.837750,0.157916,81.578947,0.000000,0.000000,0.024952
4,ChIJGzSHbVa2yhQRxBFFkJlornE,0.827289,0.285869,84.210526,1.315789,1.315789,0.098961
5,ChIJ2bQmP2SxyhQR6XYGA-d8Wg8,0.712158,0.357959,75.000000,3.947368,6.578947,0.126512
6,ChIJh_ysVV4u-QYRoqwbKYJhh3c,0.873336,0.157051,91.764706,0.000000,0.000000,-0.005236
7,ChIJSUME9RS2yhQR_KS7gwoQ6_s,0.611023,0.520540,69.411765,10.588235,1.176471,0.194201
8,ChIJ9fU1i3qjyhQRS5aPjuMhhfs,0.817577,0.294791,83.673469,2.040816,3.061224,0.047001
9,ChIJ9TH-BX_FyhQRhUh02JKvMu8,0.796147,0.287080,67.307692,0.961538,1.923077,-0.041913

## 3. Aspect-Based Sentiment Analysis

In [7]:
# Calculate aspect-based sentiment
aspect_metrics = analyzer.calculate_aspect_sentiment()
print("\nAspect-Based Sentiment Analysis:")
print("-" * 80)
display(aspect_metrics.head(10))

Calculating aspect-based sentiment...
Aspect-based sentiment calculated for 53 establishments

Aspect-Based Sentiment Analysis:
--------------------------------------------------------------------------------

,placeId,service_mention_rate,service_sentiment,quality_mention_rate,quality_sentiment,price_mention_rate,price_sentiment,ambiance_mention_rate,ambiance_sentiment,cleanliness_mention_rate,cleanliness_sentiment,location_mention_rate,location_sentiment
0,ChIJ0c9vBG-2yhQRgLzf-6a4veg,38.888889,0.294762,55.555556,0.476500,16.666667,-0.112500,0.000000,NaN,5.555556,0.573333,11.111111,-0.212500
1,ChIJI184CMjHyhQRa8MxkyaZQqc,77.777778,0.331667,66.666667,0.592569,22.222222,0.011369,0.000000,NaN,11.111111,0.000000,11.111111,0.260000
2,ChIJOcutT1HHyhQREVaU7GyaLhY,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN
3,ChIJrQMnfaijyhQR_cFRj9KRFcA,28.947368,0.425170,34.210526,0.626683,2.631579,0.616667,1.315789,0.508750,11.842105,0.381543,0.000000,NaN
4,ChIJGzSHbVa2yhQRxBFFkJlornE,31.578947,0.445820,27.631579,0.624383,3.947368,0.398368,5.263158,0.484722,2.631579,0.437830,3.947368,0.123368
5,ChIJ2bQmP2SxyhQR6XYGA-d8Wg8,32.894737,0.413608,32.894737,0.630539,5.263158,0.207979,2.631579,0.640625,6.578947,0.521889,2.631579,-0.022500
6,ChIJh_ysVV4u-QYRoqwbKYJhh3c,12.941176,0.591677,32.941176,0.586305,1.176471,0.083333,4.705882,0.283996,1.176471,0.434333,1.176471,0.000000
7,ChIJSUME9RS2yhQR_KS7gwoQ6_s,16.470588,0.527136,40.000000,0.440205,9.411765,-0.053125,2.352941,0.387333,2.352941,0.412424,0.000000,NaN
8,ChIJ9fU1i3qjyhQRS5aPjuMhhfs,23.469388,0.387075,36.734694,0.570787,6.122449,0.342803,5.102041,0.369929,2.040816,0.419792,2.040816,0.012083
9,ChIJ9TH-BX_FyhQRhUh02JKvMu8,25.000000,0.467921,28.846154,0.651918,2.884615,0.107500,3.846154,0.324896,0.961538,0.425833,2.884615,0.018750

## 4. Temporal Pattern Analysis

In [8]:
# Analyze temporal patterns
temporal_metrics = analyzer.analyze_temporal_patterns()
print("\nTemporal Pattern Analysis:")
print("-" * 80)
display(temporal_metrics.head(10))

Analyzing temporal patterns...
Temporal analysis completed for 49 establishments

Temporal Pattern Analysis:
--------------------------------------------------------------------------------

,placeId,rating_trend,sentiment_trend,has_seasonality,seasonal_pattern
0,ChIJ0c9vBG-2yhQRgLzf-6a4veg,0.092857,0.002294,True,"Lower ratings in months: 9, 10."
1,ChIJrQMnfaijyhQR_cFRj9KRFcA,0.014286,0.005432,True,"Lower ratings in months: 2, 4."
2,ChIJGzSHbVa2yhQRxBFFkJlornE,0.007048,0.016069,True,"Lower ratings in months: 5, 10."
3,ChIJ2bQmP2SxyhQR6XYGA-d8Wg8,-0.002747,0.012451,True,Lower ratings in months: 4.
4,ChIJh_ysVV4u-QYRoqwbKYJhh3c,-0.002541,-0.002755,True,Lower ratings in months: 8.
5,ChIJSUME9RS2yhQR_KS7gwoQ6_s,-0.048496,0.011652,True,Higher ratings in months: 3. Lower ratings in ...
6,ChIJ9fU1i3qjyhQRS5aPjuMhhfs,0.009445,0.001323,True,"Lower ratings in months: 2, 11."
7,ChIJ9TH-BX_FyhQRhUh02JKvMu8,-0.046114,-0.009998,True,"Lower ratings in months: 3, 10."
8,ChIJ0VNW2w63yhQR7Fa2A1ZKgJQ,-0.018698,-0.007743,True,Lower ratings in months: 1.
9,ChIJNzo-uY3HyhQR_lRf8KR80e8,-0.035573,0.005613,True,"Lower ratings in months: 6, 7, 8."

## 5. Review Authenticity Analysis

In [9]:
# Detect review authenticity
authenticity_metrics = analyzer.detect_review_authenticity()
print("\nReview Authenticity Analysis:")
print("-" * 80)
display(authenticity_metrics.head(10))

Analyzing review authenticity signals...
Review authenticity analysis completed for 49 establishments

Review Authenticity Analysis:
--------------------------------------------------------------------------------

,placeId,is_polarized,high_five_star_rate,has_review_clusters,cluster_count,largest_cluster_size,similar_review_rate,authenticity_concerns
0,ChIJ0c9vBG-2yhQRgLzf-6a4veg,True,False,False,0,0,0.000000,True
1,ChIJrQMnfaijyhQR_cFRj9KRFcA,True,True,True,6,27,0.000000,True
2,ChIJGzSHbVa2yhQRxBFFkJlornE,True,True,True,10,12,0.000702,True
3,ChIJ2bQmP2SxyhQR6XYGA-d8Wg8,True,True,True,3,19,0.000000,True
4,ChIJh_ysVV4u-QYRoqwbKYJhh3c,True,True,True,5,7,0.000280,True
5,ChIJSUME9RS2yhQR_KS7gwoQ6_s,True,False,True,2,4,0.000280,True
6,ChIJ9fU1i3qjyhQRS5aPjuMhhfs,True,True,True,5,8,0.000000,True
7,ChIJ9TH-BX_FyhQRhUh02JKvMu8,True,True,True,6,27,0.000000,True
8,ChIJ0VNW2w63yhQR7Fa2A1ZKgJQ,True,True,True,6,8,0.000000,True
9,ChIJNzo-uY3HyhQR_lRf8KR80e8,True,True,True,8,13,0.000000,True

## 6. Comparative Reference Analysis

In [10]:
# Analyze comparative references
comparative_metrics = analyzer.analyze_comparative_references()
print("\nComparative Reference Analysis:")
print("-" * 80)
display(comparative_metrics.head(10))

Analyzing comparative references...
Comparative reference analysis completed for 52 establishments

Comparative Reference Analysis:
--------------------------------------------------------------------------------

,placeId,comparison_rate,positive_comparison_rate,negative_comparison_rate,total_comparisons,positive_comparison_example,negative_comparison_example
0,ChIJ0c9vBG-2yhQRgLzf-6a4veg,0.222222,0.75,0.0,4,"i was impressed by team that took care of me, ...",
1,ChIJI184CMjHyhQRa8MxkyaZQqc,0.222222,0.50,0.0,2,i had spent weeks browsing the internet for th...,
2,ChIJrQMnfaijyhQR_cFRj9KRFcA,0.026316,1.00,0.0,2,"i came to this clinic, i was very pleased with...",
3,ChIJGzSHbVa2yhQRxBFFkJlornE,0.078947,1.00,0.0,6,the best from türkiye when it comes to hair tr...,
4,ChIJ2bQmP2SxyhQR6XYGA-d8Wg8,0.065789,1.00,0.0,5,hair transplant best place in turkey & coopera...,
5,ChIJh_ysVV4u-QYRoqwbKYJhh3c,0.047059,1.00,0.0,4,the best experience that i was afraid to do lo...,
6,ChIJSUME9RS2yhQR_KS7gwoQ6_s,0.058824,0.80,0.0,5,i found the best hair transplant center,
7,ChIJ9fU1i3qjyhQRS5aPjuMhhfs,0.091837,1.00,0.0,9,"tuğba and all the staff, best regards",
8,ChIJ9TH-BX_FyhQRhUh02JKvMu8,0.048077,1.00,0.0,5,"prove me wrong, but holiday estetic is the bes...",
9,ChIJ0VNW2w63yhQR7Fa2A1ZKgJQ,0.113208,0.75,0.0,12,the hair transplant turned out much better tha...,

## 7. Customer Journey Analysis

In [11]:
# Analyze customer journey
journey_metrics = analyzer.analyze_customer_journey()
print("\nCustomer Journey Analysis:")
print("-" * 80)
display(journey_metrics.head(10))

Analyzing customer journey markers...
Customer journey analysis completed for 52 establishments

Customer Journey Analysis:
--------------------------------------------------------------------------------

,placeId,first_time_rate,repeat_customer_rate,will_return_rate,wont_return_rate,customer_loyalty_score
0,ChIJ0c9vBG-2yhQRgLzf-6a4veg,5.555556,22.222222,0.000000,0.000000,22.222222
1,ChIJI184CMjHyhQRa8MxkyaZQqc,0.000000,22.222222,0.000000,0.000000,22.222222
2,ChIJrQMnfaijyhQR_cFRj9KRFcA,0.000000,6.578947,1.315789,0.000000,7.894737
3,ChIJGzSHbVa2yhQRxBFFkJlornE,2.631579,9.210526,0.000000,0.000000,9.210526
4,ChIJ2bQmP2SxyhQR6XYGA-d8Wg8,0.000000,9.210526,1.315789,0.000000,10.526316
5,ChIJh_ysVV4u-QYRoqwbKYJhh3c,0.000000,8.235294,0.000000,0.000000,8.235294
6,ChIJSUME9RS2yhQR_KS7gwoQ6_s,0.000000,10.588235,0.000000,2.352941,8.235294
7,ChIJ9fU1i3qjyhQRS5aPjuMhhfs,3.061224,8.163265,2.040816,0.000000,10.204082
8,ChIJ9TH-BX_FyhQRhUh02JKvMu8,0.000000,10.576923,0.000000,0.961538,9.615385
9,ChIJ0VNW2w63yhQR7Fa2A1ZKgJQ,0.000000,15.094340,0.000000,0.000000,15.094340

## 8. Complaint Resolution Analysis

In [12]:
# Analyze complaint resolution
resolution_metrics = analyzer.analyze_complaint_resolution()
print("\nComplaint Resolution Analysis:")
print("-" * 80)
display(resolution_metrics.head(10))

Analyzing complaint resolution patterns...
Complaint resolution analysis completed for 52 establishments

Complaint Resolution Analysis:
--------------------------------------------------------------------------------

,placeId,complaint_count,complaint_rate,complaint_response_rate,resolution_language_rate,complaint_response_time
0,ChIJ0c9vBG-2yhQRgLzf-6a4veg,4,22.222222,0.000000,0.0,NaN
1,ChIJI184CMjHyhQRa8MxkyaZQqc,1,11.111111,100.000000,0.0,1.000000
2,ChIJrQMnfaijyhQR_cFRj9KRFcA,3,3.947368,66.666667,0.0,65.500000
3,ChIJGzSHbVa2yhQRxBFFkJlornE,7,9.210526,100.000000,0.0,0.333333
4,ChIJ2bQmP2SxyhQR6XYGA-d8Wg8,1,1.315789,100.000000,0.0,0.000000
5,ChIJh_ysVV4u-QYRoqwbKYJhh3c,6,7.058824,83.333333,0.0,14.800000
6,ChIJSUME9RS2yhQR_KS7gwoQ6_s,5,5.882353,0.000000,0.0,NaN
7,ChIJ9fU1i3qjyhQRS5aPjuMhhfs,2,2.040816,50.000000,0.0,12.000000
8,ChIJ9TH-BX_FyhQRhUh02JKvMu8,9,8.653846,88.888889,0.0,101.600000
9,ChIJ0VNW2w63yhQR7Fa2A1ZKgJQ,8,7.547170,87.500000,0.0,31.428571

## 9. Final Ranking and Insights

In [13]:
# Create composite score and generate insights
results = analyzer.create_composite_score()
insights = analyzer.generate_insights()

print("\nTop 10 Establishments:")
print("-" * 80)
display(results.head(10))

print("\nKey Insights for Top Establishments:")
print("-" * 80)
for place_id, insight in list(insights.items())[:5]:
    print(f"\n{insight['name']} (Rank: {insight['rank']}, Score: {insight['score']:.2f})")
    print("Strengths:")
    for strength in insight['strengths']:
        print(f"- {strength}")
    print("Areas for Improvement:")
    for improvement in insight['improvements']:
        print(f"- {improvement}")

Creating composite scores and rankings...

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

## 10. Save Results

In [ ]:
# Save all results to output directory
analyzer.save_results("analysis_results")
print("\nAll analysis results have been saved to the 'analysis_results' directory.")